<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR1' => true,
        '@PSR2' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit60Migration:risky' => true,
        'array_syntax' => array('syntax' => 'short'),
        'no_unused_imports' => false,
    ))
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;