<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {%- spaceless %}
        {% block body %}{% endblock %}
    {% endspaceless -%}
    </body>
</html>
