{% extends "base.html.twig" %}

{% block body %}

    <div id="public_link">
        {%- spaceless -%}
            {% route ["public_action"] as url %}
                {{ ref }}
            {% else %}
                No access
            {% endroute %}
        {%- endspaceless -%}
    </div>
    <div id="user_link">
        {%- spaceless -%}
            {% route ["user_action"] as url %}
                {{ ref }}
            {% else %}
                No access
            {% endroute %}
        {%- endspaceless -%}
    </div>
    <div id="admin_link">
        {%- spaceless -%}
            {% route ["admin_action"] as url %}
                {{ ref }}
            {% else %}
                No access
            {% endroute %}
        {%- endspaceless -%}
    </div>

{% endblock %}
